<ul>
	<li>Details
		<ul>
			<li><%= link_to 'View Details', ('/aptview') %></li>
			<li><%= link_to 'Add Details', new_apt_path %></li>
		</ul>
	</li>
	<li>Flat Details
		<ul>
			<li><%= link_to 'View Details', ('/flats') %></li>
		</ul>
	</li>
	<li>Monthly Charges
		<ul>
			<li><a href="AptMonthlyCharges.html">View Details</a></li>
		</ul>
	</li>
	<li>Common Rentals
		<ul>
			<li><a href="#">View Details</a></li>
		</ul>
	</li>
	<li>Calculation
		<ul>
			<li><a href="#">View Calcuation Setup</a></li>
		</ul>
	</li>
</ul>
