
   
                <div class="contentbox">
                    <table width="100%">
                        <tr>
                            <td width="52%"><img src="Images/AMS_Logo1.jpg" width="388" height="267" /></td>
                            
                            <td width="48%">
                                <span class="welcome">Hello!. Welcome to Apartment Maintenance Portal</span>
                                <p>
                                    This Apartment Maintenance Portal is a Web based application for Apartment association to perform various activities. You can add Users, Manage Apartment Details, Manage Maintenance Charges Calculations, and much more... Major activities you can carry out through this portal are listed below.
                                </p>
                                <ol>
                                        <li>Users Management</li>
                                        <li>Manage Apartment Details</li>
                                        <li>Manage Payment</li>
                                        <li>Meeting Management</li>
                                        <li>Report Management</li>
                                    </ol>
                            </td>
                        </tr>
                    </table>
                </div>
                   